.login{
    margin: 60px;
    border: 1px solid #126EFD;
    padding: 15px;
    border-radius: 20% 0% 20% 0%;
    
        background: #F9FBFC;
        border-radius: 2px;
        border: 2px solid #202329;
        margin: 0 24px;
        height: 64px;
        width: calc(100% - 62px);
        font-size: 24px;
        text-align: center;
        font-family: 'Montserrat';
        font-weight: 400;
        color: #1E1E1F;
        box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.25);
      
      
      
}

.register{
    margin: 50px;
    border: 1px solid #126EFD;
    border-radius: 0% 20% 0% 20%;
    padding: 15px;
}

.contCards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.card{
    margin: 10px;
}